{{- /* Retourne une liste d’images associées à la page */ -}}

{{- $images := slice -}}

{{- /* 1. cover.image */ -}}
{{- with .Params.cover.image }}
    {{- $img := . -}}
    {{- if $.Params.cover.relative }}
        {{- $img = (path.Join $.RelPermalink .) | absURL -}}
    {{- else }}
        {{- $img = (. | absURL) -}}
    {{- end }}
    {{- $images = $images | append (dict "Permalink" $img) -}}
{{- end }}

{{- /* 2. images dans resources */ -}}
{{- with .Resources.ByType "image" }}
    {{- range . }}
        {{- $images = $images | append . -}}
    {{- end }}
{{- end }}

{{- return $images -}}
